@model Bloggie.Web.Models.ViewModels.AdminUsersViewModel
@{
}

@{
	ViewData["Title"] = "Edit Users Admin page";
}


<div class="bg-secondary bg-opacity-10 py-2 mb-3">
	<div class="container">
		<h1 class="">Add New Blogpost - Admin Functionality</h1>
	</div>
</div>

@* modal *@
<div class="mb-3 container d-flex justify-content-center ">
	<button type="button" class="btn btn-warning w-100" data-bs-toggle="modal" data-bs-target="#modalCreateUser">
		Create User
	</button>
</div>
<div class="container">
	<table class="table">
		<tr>
			<th>UserId</th>
			<th>Username</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
		@foreach (var user in Model.Users)
		{
			<tr>
				<td>@user.UserID</td>
				<td>@user.UserName</td>
				<td>@user.Email</td>
				<td>
					<form method="post"
						asp-controller="AdminUsers"
						asp-action="Delete"
						asp-route-id="@user.UserID"
					>
						<button type="submit" class="btn btn-danger">
							Delete
						</button>
					</form>
				</td>
			</tr>
		}
	</table>
</div>


@* Modal *@
<div class="modal fade" id="modalCreateUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Create New Us</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form method="post">
				<div class="modal-body">

					<div class="mb-3">
						<label class="form-label">Username</label>
						<input type="text" class="form-control" asp-for="Username" required />
					</div>

					<div class="mb-3">
						<label class="form-label">Email</label>
						<input type="email" class="form-control" asp-for="Email" required />
					</div>

					<div class="mb-3">
						<label class="form-label">Password</label>
						<input type="password" class="form-control" asp-for="Password" required />
					</div>

					<div class="mb-3 d-flex align-items-center">
						<input type="checkbox" class="form-check m-2" checked disabled />
						<label class="form-check-label">User Role</label>
					</div>

					@if (User.IsInRole("SuperAdmin"))
					{
						<div class="mb-3 d-flex align-items-center">
							<input type="checkbox" class="form-check m-2"
								   asp-for="AdminRoleCheckbox" />
							<label class="form-check-label" for="adminRole">Admin Role</label>
						</div>
					}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Add New User</button>
				</div>
			</form>
		</div>
	</div>
</div>