
@{
}

@{
	ViewData["Title"] = "Access Denied";
}
<div class="container d-flex min-vh-75 justify-content-center align-items-center">
	<div>
	<h1>@ViewData["Title"]</h1>
	<p>You do not have permission to access this page.</p>
	<p>
		<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go to Home Page</a>
	</p>
	</div>
</div>
