@model Bloggie.Web.Models.ViewModels.EditBlogPostRequest
@{
}
<div class="bg-secondary bg-opacity-10 py-2">
	<div class="container">
		<h1 class="">Edit Blog Post - Admin Functionality</h1>
	</div>
</div>
<div class="container py-5">
	@if (Model == null)
	{
		<p class="text-danger">Blog post not found.</p>
	}
	else
	{

		<form method="post">

			<!-- Hidden field for Id -->
			<div>
				<label class="form-label ">Id</label>
				<input type="text" class="form-control-sm bg-light text-muted" id="id" asp-for="Id" readonly />
			</div>

			<div class="mb-3">
				<label class="form-label">Heading</label>
				<input type="text" class="form-control" id="heading" asp-for="Heading" />
			</div>
			<div class="mb-3">
				<label class="form-label">Page Title</label>
				<input type="text" class="form-control" id="pageTitle" asp-for="PageTitle" />
			</div>
			<div class="mb-3">
				<label class="form-label">Content</label>
				<textarea class="form-control" id="content" asp-for="Content"></textarea>
			</div>
			<div class="mb-3">
				<label class="form-label">Short Description</label>
				<input type="text" class="form-control" id="shortdescription" asp-for="ShortDescription" />
			</div>
			<div class="mb-3">
				<label class="form-label"> Featured Image upload</label>
				<input class="form-control" type="file" id="featuredImageUpload" />
			</div>

			<div>
				@if (Model.FeaturedImageUrl != null && Model.FeaturedImageUrl != "")
				{
					<img class=" d-block img-thumbnail w-50 mb-3" src="@Model.FeaturedImageUrl" id="featuredImageDisplay" alt="Featured Image" />
				}
				else
				{
					<img class=" d-lg-none img-thumbnail w-50 mb-3" src="" id="featuredImageDisplay" alt="Alternate Text" />

				}
			</div>


			<div class="mb-3">
				<label class="form-label">Featured Image URL</label>
				<input type="text" class="form-control" id="featuredImageUrl" asp-for="FeaturedImageUrl" />
			</div>
			<div class="mb-3">
				<label class="form-label">URL Handle</label>
				<input type="text" class="form-control" id="urlHandle" asp-for="UrlHandle" />
			</div>
			<div class="mb-3">
				<label class="form-label">Published Date</label>
				<input type="date" class="form-control" id="publishedDate" asp-for="PublishedDate" />
			</div>
			<div class="mb-3">
				<label class=" form-label">Author</label>
				<input type="text" class="form-control" id="author" asp-for="Author" />
			</div>
			<div class="form-check mb-3">
				<input class="form-check-input" type="checkbox" id="visible" asp-for="Visible">
				<label class="form-check-label">
					Is visible?
				</label>
			</div>
			<div class="mb-3">
				<label class="form-label">Tags</label>
				<select class="form-select"
						asp-items="@Model.Tags"
						asp-for="SelectedTags"
						multiple>
				</select>
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary"> Update </button>
				<button type="submit"
						class="btn btn-danger"
						asp-area=""
						asp-controller="AdminBlogPosts"
						asp-action="Delete">
					Delete
				</button>

				<a class="btn btn-secondary" asp-area="" asp-controller="AdminBlogPosts" asp-action="List">Cancel</a>
			</div>
		</form>
	}
</div>

@section scripts {
	<script>
			var editor = new FroalaEditor('#content',{
			imageUploadURL:"/api/images",
		});

		const featuredUploadElement = document.getElementById('featuredImageUpload');
		const featuredImageUrlElement = document.getElementById('featuredImageUrl');
		const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');

		async function uploadFeaturedImage(e)
		{
			console.log(e.target.files[0]);

			data = new FormData();
			data.append("file", e.target.files[0]);

			await fetch('/api/images', {
				method: 'POST',
				headers: {
					'Accept': '*/*'
				},
				body: data
			}).then(response => response.json())
			.then(result =>
				{
					featuredImageUrlElement.value = result.link
					featuredImageDisplayElement.src = result.link;
					featuredImageDisplayElement.classList.remove("d-lg-none");
					featuredImageDisplayElement.classList.add("d-sm-block");
				});

		}

		featuredUploadElement.addEventListener("change", uploadFeaturedImage);

	</script>
}